
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body
{
    font-family: 'Inter', sans-serif;
}
.carousel.slide{
    justify-content: center;
    width: 100%;
    height: 50%;
    padding-top: 20px;
}
.carousel.slide .carousel-item img
{
   display: flex;
   height: 0%;
}
.row.row-cols-md-4 .card
{
    text-align: center;
    margin-top: 40px;
    background-color: #DE1D22;
    margin-left: 20px;
    margin-right: 20px;
}

.row.row-cols-md-4 .card p
{
    color: aliceblue;
}

