
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body
{
    font-family: 'Inter', sans-serif;
}
.navbar
{
    background-color: #EDEDED;
    margin-top: 10px;
    width: 100%;
}
.nav-link
{
    color:#000000;
}
.slide
{
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}
.slide img
{
    height: 90vh;
}
.row.row-cols-md-4 .card
{
    text-align: center;
    margin-top: 30px;
    background-color: #DE1D22;
    margin-left: 20px;
    margin-right: 20px;
}

.row.row-cols-md-4 .card p
{
    color: aliceblue;
}
.card
{
    height: 90%;
}
.card-body i
{
    font-size: 20px;
}
.container-grid
{
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    align-items: center;
    background-color: #EDEDED;
}
.container-grid .row .col-one 
{
    width: 20px;
}
.container-grid .row .col-two 
{
    margin-left: 50%;
}
.container-grid .row .col-one a
{ 
   font-size: 30px;
   color: black;
}
