@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body
{
    font-family: 'Inter', sans-serif;
}
.navbar
{
    background-color: #EDEDED;
}
.nav-link
{
    color:#000000;
}
.navbar-brand img
{
    width: 2.5em;
    height: 2.5em;
}
.slide
{
    margin-top: 15x;
}
.titulo-carousel
{
    font-size: 1.5em;
}
.row.row-cols-md-4 .card
{
    text-align: center;
    margin-top: 20px;
    background-color: #DE1D22;
}
.card
{
    height: 90%;
}
.card-body i
{
    font-size: 20px;
}
.container-redes
{
    padding: 15px;
    align-items: center;
}
.container-redes-icons
{
    margin-left: 300px;
}
.container-redes-icons a {
    color: #EDEDED;
    padding: 4px;
}

.col-redes h3
{
    color: #EDEDED;
    margin-left: 259px;
    margin-top: 20px;
}
 /* Por debajo de 400px */
@media screen and (max-width: 400px){
    .titulo-carousel{
        font-size:16px;
    }
}

